body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #DA81F5;
  border-radius: 0;
  border: 0;
}



.navbar-brand {
  padding-top: 10px;
}

.navbar-brand h1 { /* FOOD, LLC*/
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list a {
  color:  blanchedalmond;
  margin-top: -20px;
  text-align: center;
  text-transform: uppercase;
}
#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
  

}

.menu-title{
  text-align: center;
}


/* END HEADER */

/* HOME PAGE */


/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  
  /* End Header */

  /* Home Page */
  
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  
  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  /* End Header */

  /* Home Page */
  

}




